# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: your_key

rails:
  config:
    action_mailer:
      default_url_options: 'example.com'

devise:
  config:
    mailer_sender: 'account_help@example.com'